<div class="index">
    <div class="row">
        <div class="col bg-danger">
            <ul class="room-list">
              <h3>Phòng</h3>
                {{#each data}}
                <div class="d-flex flex-row justify-content-between mb-3">
                  <div class="d-flex flex-column p-3">
                    <li>{{this.name}}</li>
                  </div>
                 </div>
                {{/each}}
              </ul>
         </div>
        <div class="col-8 bg-info">
            <form action="/q" method="POST" class="search-form" id="searchForm">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="searchInput" {{#if search}}value="{{search}}"{{/if}}>
                  <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
                </div>
            </form>
            {{#if data}}
                {{#each data}}
                    <div class="d-flex flex-row justify-content-between mb-3">
                        <div class="d-flex flex-column p-3">
                          <h1>{{this.name}}</h1>
                          <a href="{{this.menuUrl}}" target="_blank"><img src="{{this.icon}}" class="icon-img"></a>
                          {{#if loggedIn}}
                            <div class="mb-1 p-1">
                              <a href="/menu/{{this._id}}">Edit</a> &nbsp; 
                              <a href="/menu/delete/{{this._id}}" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
                            </div>
                          {{/if}}
                        </div>
                        <div class="menu-code pt-4 pl-4">
                          <a href="{{this.menuUrl}}" target="_blank">
                            <div><img src="{{this.icon}}" class="url-img"></div>
                            <span class="mb-2">
                              View Menu
                            </span>
                          </a>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <div class="col bg-warning">
          <ul class="user-list"></ul>
          <h3>user</h3>
              {{#each data}}
                <li>{{this.name}}</li>
              {{/each}}
            </ul>
        </div>
    </div>
</div>

